PORT=3301

GROSIR_MONGO_URI=
PUSAT_MONGO_URI=

GROSIR_DB_NAME=grosir-suryajaya
PUSAT_DB_NAME=db_suryajaya_pusat

GROSIR_STOCK_COLLECTION=tm_stock_barang
GROSIR_TRANSFER_COLLECTION=tt_kirim_stock
PUSAT_KEEP_STOCK_COLLECTION=tt_terima_suplier
PUSAT_BARANG_COLLECTION=tm_barang

DASHBOARD_MONGO_URI=
DASHBOARD_DB_NAME=db_dashboard

REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true
